<div class="page-header">
    <ol class="breadcrumb">
        <li><a [routerLink]="['User Profile']">Dashboard</a></li>
        <li><a [routerLink]="['Clients']">Clients</a></li>
        <li><a [routerLink]="['Funds']">Funds</a></li>
    </ol>
    <h1>Track Instructions</h1>
</div>
<div class="panel panel-default">
	<form class=""  style=" margin-bottom: 0px;">
		<table class="table table-stripped card-panel"  style="margin-top: 0px; margin-bottom: 0px;">
			<thead>
				<tr id="invest">
					<th>Track instructions</th><th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><label>Product</label></td>
					<td>
						<input type="text" class="form-control" placeholder="Product" [(ngModel)]="instruction.product">
					</td>
				</tr>
				<tr>
					<td><label>Instruction Type</label></td>
					<td>
						<input type="text" class="form-control" placeholder="Instruction type" [(ngModel)]="instruction.type">
					</td>
				</tr>
				<tr>
					<td><label>Instruction status</label></td>
					<td>
						<input type="text" class="form-control" placeholder="Instruction status" [(ngModel)]="instruction.status">
					</td>
				</tr>
				<tr>
					<td><label>Date</label></td>
					<td>
						<input type="text" class="form-control" placeholder="From Date" [(ngModel)]="instruction.from_date">
						<br>
						<input type="text" class="form-control" placeholder="To Date" [(ngModel)]="instruction.to_date">
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button class="btn btn-warning" (click)="search()">Search</button>
					</td>
				</tr>
			</tbody>	
		</table>
	</form>
</div>
<div class="panel panel-default"  *ngIf="_search == true">
	<table class="table  table-stripped card-panel" style="margin-top: 0px;">
			<thead>
				<tr id="invest">
					<th>Investor</th>
					<th>Investor ID</th>
					<th>Submit Date</th>
					<th>Product</th>
					<th>Instruction Type</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="#search_instruction of search_instructions">
					<td>{{search_instruction.investor}}</td>
					<td>{{search_instruction.investor_id}}</td>
					<td>{{search_instruction.submit_date}}</td>
					<td>{{search_instruction.product}}</td>
					<td>{{search_instruction.type}}</td>
					<td>{{search_instruction.status}}</td>
				</tr>
				<tr id="bottom">
					<td>Showing 1 to <strong>{{_searches}}</strong> of <strong>{{_searches}}</strong> entries</td>
					<td></td><td></td><td></td>
					<td></td>
					<td><button class="btn btn-warning" (click)="search()">Export to Excel</button></td>
				</tr>
			</tbody>							
		</table>
</div>