<div class="page-header">
    <ol class="breadcrumb">
        <li><a [routerLink]="['User Profile']">Portfolio View</a></li>
        <li class="active"><a [routerLink]="['Client Details']">{{_client.name}}</a></li>
    </ol>
    <h1>{{_client.name}}</h1>
</div>
<div class="panel panel-default">
	<table class="table table-hover card-panel" style="  margin-top: 0px;">
		<thead>
			<tr id="invest">
				<th>Products under Management</th>
				<th></th><th></th>
			</tr>
			<tr>
				<th>Product Name</th>
				<th>Base Currency</th>
				<th>Product Value</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="#product of _client.products">
				<td (click)="onProduct(product)"> {{product.name}} </td>
				<td>{{product.base_ccy}}</td>
				<td>{{product.value}}</td>
			</tr>
		</tbody>
	</table>
</div>