<div class="page-header">
    <ol class="breadcrumb">
        <li><a [routerLink]="['User Profile']">Portfolio View</a></li>
        <li class="active"><a [routerLink]="['Fund Clients']">{{_fund.name}}</a></li>
    </ol>
    <h1>{{_fund.name}}</h1>
</div>
<div class="panel panel-default">
    <table class="table table-hover card-panel" style="margin-top: 0px;">
        <thead>
            <tr id="invest">
                <th>Clients</th>
                <th></th><th></th>
            </tr>
            <tr>
                <th>Client Name</th>
                <th>Base Currency</th>
                <th>Portfolio Value</th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="#client of _clients.clients">
                <td (click)="onClient(client)">{{client.name}}</td>
                <td>{{client.base_ccy}}</td>
                <td>{{client.value}}</td>
            </tr>
        </tbody>
    </table>
</div>