<div class="page-header">
	<ol class="breadcrumb">
		<li><a [routerLink]="['User Profile']">Portfolio View</a></li>
		<li><a [routerLink]="['Clients']">Clients</a></li>
		<li><a [routerLink]="['Products']">Products</a></li>
		<li><a [routerLink]="['Funds']">Funds</a></li>
	</ol>
    <h1>Transactions</h1>
</div>
<div class="panel panel-default">
	<table class="table table-striped card-panel" style="  margin-top: 0px;">
		<thead>
			<tr id="invest">
				<th>RECENT TRANSACTIONS</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
			<tr>
				<th>Transaction date</th>
				<th>Transaction type</th>
				<th>Fund</th>
				<th>Transaction value(ZAR)</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="#transaction of transactions">
				<td>{{transaction.date}}</td>
				<td>{{transaction.type}}</td>
				<td>{{transaction.fund}}</td>
				<td>{{transaction.value}}</td>
			</tr>
		</tbody>
	</table>
</div>
