@charset "utf-8";
/* CSS Document */

@media print { 
	#page{
		border-left:none;	
	}
	#sidebar, .footer, .navbar {
		display:none;	
	}
	.footer-print, .header-print{
		display:block;	
	}
	
	body, td, th {
		font-family: 'FNBSansLight', Arial, Helvetica, sans-serif;
		font-size: 12px;
	}
	strong, th {
		font-family: 'FNBSansRegular', Arial, Helvetica, sans-serif;
	}
	em {
		font-family: 'FNBSansItalic', Arial, Helvetica, sans-serif;
	}
	li {
		list-style-type: none;
	}
	.table-print {
		border-collapse: collapse;
		border-top:1px solid #999;
		border-left:1px solid #999;
	}
	.table-print th {
		text-align:left;
		border-top:none;
		border-left:none;
	}
	.table-print th, .table-print td {
		padding:3px;
		border-bottom:1px solid #999;
		border-right:1px solid #999;
		border-left:none;
	}
	.table-print th {
	}
	h1 {
		color:#099;
		border-bottom:1px solid #999;
		padding-bottom:10px;
		font-size:22px;
	}
	.footer-print {
		border-top:1px solid #999;
		padding-top:20px;
		padding-bottom:20px;
		margin-top:20px;
		text-align:right;
		font-size:10px;
	}
	.header-print table {
		width:100%
	}
	.print-address {
		text-align:right;
		font-size:10px;
		line-height: 14px;
	}
	.pagebreakafter {
		page-break-after: auto;
	}
	.form-actions{
		display:none;	
		
	}
}