@charset "utf-8";
/* CSS Document */

body{
	font-family:'FNBSansLight', Arial, Helvetica, sans-serif;

	
}
h1, h2, h3, h4, h5, h6{
	color:#000000;
	font-family:'FNBSansLight';
	
}
h1{
	border-bottom:1px solid #009999;
	color:#009999;
	
}

/* navbar */
.navbar-inverse .navbar-inner {
	background-color: #009999;
	background-image: none;
	background-repeat: none;
	filter:none;
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	background-color: #009999;
	color: #FFFFFF;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #ffffff;
    text-shadow:none;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	border-bottom:none;
	
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	background-color:#FFFFFF;
	color:#006666;
	box-shadow:none;
	padding-top:15px;
}
/* table */
.table th {
    background-color:#009999;
	 color:#FFFFFF;
}

.table th a{
	color:#FFFFFF;
}
/* pills */
.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background-color: #FF9900;
    color: #FFFFFF;

}
.nav-pills > li > a {
	color:#FF9900;
}

.btn-primary {
	 background-color: none;
	 background-image: none;
    background-color: #FF9900;
	 background-image: linear-gradient(to bottom,#FF9900 , #f47920);
}
.btn-primary:hover,.btn-primary:active {
	background-color: #FF9900;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.btn-primary:disabled, .btn-primary[disabled]   {
	background-color: #FF9900;
}
.alert-info {
    background-color: #99d7d6;
    border-color: #8ac2c1;
    color: #006666;
}
.nav .dropdown-toggle .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
.nav .active .dropdown-toggle .caret {
    border-bottom-color: #009999;
    border-top-color: #009999;
}

.brand-logo{
	width:110px;
	height:50px;
	background-image:url(../img/logo.png);
	background-repeat:no-repeat;
	
}
/* for high resolution display */
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	.brand-logo {
		 background-image:url(../img/logo@2x.png);
		 background-size:110px 50px;
	}
}



hr {
	margin-top:5px;
	margin-bottom:5px;
}
h1, .page_title, .form_title, .report_title {
	font-size: 16px;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 10px;
	padding-left: 4px;
	color:#009999;
}
h1, .page_title {
	color: #009999;
	padding-bottom: 5px;
	text-align: left;
}
h1, .form_title, .report_heading {
	color: #009999;
	border-bottom:1px solid #009999;
}
h4 {
	color: #009999;
	font-size: 14px;
	font-weight:normal;
	margin-bottom:6px;
	margin-top:7px;
}
.nav-stacked li a {
	background-color:#e7e7e7;
	color:#009999;
}
.nav-stacked li a:hover {
	color:#ff9900;
}
.nav-stacked li a:hover .icon-chevron-right {
	color:#ff9900;
}
.user-detail{
	text-align:right;	
}
.user-detail, .user-detail a,h2{
	color:#00aaad;	
}

.qp{
	font-family:'FNBSansRegular';
	color:#FFFFFF;
}
.ui-widget-header {
    border-color: -moz-use-text-color -moz-use-text-color rgb(0, 153, 153);
    color: rgb(0, 153, 153);
}
.ui-widget {
    font-family: 'FNBSansLight';
}