<div class="page-header">
	<ol class="breadcrumb">
		<li><a [routerLink]="['User Profile']">Portfolio View</a></li>
		<li><a [routerLink]="['Clients']">Clients</a></li>
		<li><a [routerLink]="['Products']">Products</a></li>
		<li><a [routerLink]="['Funds']">Funds</a></li>
	</ol>
    <h1>Instructions</h1>
</div>
<div class="row">
	<div class="col col-md-9">
		<div class="panel panel-default">
			<table class="table table-sm table-hover card-panel" style="  margin-top: 0px;">
				<thead>
					<tr id="invest">
						<th>Recent instructions(Last 30 days)</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th>Type</th>
						<th>Product Name</th>
						<th>Status</th>
						<th>Count</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="#instruction of instructions">
						<td>{{instruction.type}}</td>
						<td>{{instruction.product_name}}</td>
						<td>{{instruction.status}}</td>
						<td>{{instruction.count}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div>
		<div class="col col-md-3">
			<div class="card-panel bg-color">
				<div class="bubble">
					Track Recent Instructions
				</div>
				<hr>
				<button class="btn-warning" type="button" [routerLink]="['Track Instructions']">
					Track Instruction
				</button>
			</div>
			
		</div>	
	</div>
</div>
