<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <img src="styling/img/logo.png">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{{people.name}}</a></li>
                
            <!--<li class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." [(ngModel)]="searchInput">
                        <span class="input-group-addon" id="basic-addon1"><button class="btn btn-xs btn-link" (click)="search()"><i class="fa fa-search search"></i></button></span>
                
                    </div>
                </li>  -->
                <li><a href="logout" class="btn btn-warning btn-large pull-right"><i class="fa fa-sign-out"></i>Logout</a></li>
            </ul>
        </div>
    </div>
    
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a [routerLink]="['User Profile']">Porfolio View</a></li>
        <!--        <li><a [routerLink]="['Clients']">Clients</a></li>
                <li><a [routerLink]="['Products']">Products</a></li>
                <li><a [routerLink]="['Funds']">Funds</a></li> -->
                <li><a [routerLink]="['Instructions']">Instructions</a></li>
                <li><a [routerLink]="['Transactions']">Transactions</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>