<div class="page-header">
	<ol class="breadcrumb">
		<li><a [routerLink]="['User Profile']">Portfolio View</a></li>
		<li><a [routerLink]="['Clients']">Clients</a></li>
		<li class="active"><a [routerLink]="['Products']">Products</a></li>
		<li><a [routerLink]="['Funds']">Funds</a></li>
	</ol>
	<h1>Products</h1>
</div>
<div class="panel panel-default">
	<table class="table table-sm table-hover card-panel" style="  margin-top: 0px;">
		<thead>
		  	<tr id="invest">
		  		<th>Products under Management</th>
		  		<th></th>
		  	</tr>
		  	<tr>
		  		<th>Product Name</th>
		  		<th>Base Currency</th>
			</tr>
  		</thead>
  		<tbody>
  			<tr *ngFor="#product of _products.products">
  				<td (click)="onProduct(product)">{{product.name}}</td>
  				<td>
					  <tr class="col-th-td">
						  <td>{{product.base_ccy}}</td>
						  <td>{{product.value}}</td>
					  </tr>
				</td>
	  		</tr>
		</tbody>
	</table>
</div>	