<div class="page-header">
	<ol class="breadcrumb">
		<li><a [routerLink]="['User Profile']">Portfolio View</a></li>
		<li class="active"><a [routerLink]="['Clients']">Clients</a></li>
		<li><a [routerLink]="['Products']">Products</a></li>
		<li><a [routerLink]="['Funds']">Funds</a></li>
	</ol>
    <h1>Clients</h1>
</div>
<div class="panel panel-default">
	<table class="table table-sm table-hover card-panel" style="  margin-top: 0px;">
		<thead>
		  	<tr id="invest">
		  		<th>Top Investors</th>
		  		<th></th>
		  	</tr>
		  	<tr>
		  		<th>Investor</th>
		  		<th>Portfolio Value</th>
			</tr>
  		</thead>
  		<tbody>
  			<tr *ngFor="#client of _clients.clients">
  				<td (click)="onClient(client)">{{client.name}}</td>
			    <td>
					<tr  class="col-th-td">
						<td>{{client.base_ccy}}</td>
						<td>{{client.value}}</td>
					</tr>
					
				</td>
	  		</tr>
		</tbody>
	</table>
</div>	