/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #006666;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 2px;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

h1{
	font-size:24px;
}
h2{
	font-size:20px;
}
.page-header{
	background-color:#f5f5f5;
	padding-left:40px;
	margin-left:-40px;
	padding-right:40px;
	margin-right:-40px;
	padding-top:10px;
	border-bottom:1px solid #CCC;
}
.page-header .breadcrumb{
	margin-bottom: 0px;
	padding-left:0px;
}
.page-header h1{
	margin-top: 0px;
}
.main {
	padding-top:0px;	
}
/* Branding */

.navbar-inverse {
    background-color: #099;
	color:#FFFFFF;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.nav-sidebar > li > a.router-link-active, .nav-sidebar > li > a.router-link-active:hover, .nav-sidebar > li > a.router-link-active:focus, .nav-sidebar > li > a.router-link-active {
    background-color: #eea236;
    color: #fff;
}
.btn-primary {
    background-color: #eea236;
    border-color: #eea236;
    color: #fff;
}

.panel-primary > .panel-heading {
    background-color: #099;
    border-color: #099;
    color: #fff;
}
.panel-primary {
    border-color: #099;
}
.navbar-brand{
	padding:0px;	
}
.nav-sidebar > li > a {
    color:#FFFFFF;
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: #099;
    text-decoration: none;
	color:#fff;
}
.navbar-brand .logo{
	height:50px;
	width:110px;
	background-color:none;
	display:inline-block;
  margin: 16px;
	/*background-image:url(../branding/fnb_za/img/logo.png);*/
	border:none;
	vertical-align:middle;	
}
.nav-header{
	font-size:12px;
	color:#999;
	padding-left:15px;
	padding-top:10px;
	padding-bottom:10px;
	font-weight:bold		
}


.ng-valid,.ng-valid:focus {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid ,.ng-invalid:focus {
  border-left: 5px solid #a94442; /* red */
}
.login-wrapper{
    position: fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    display:block;
    background-color:#ffffff;
    z-index:10000;
}
h1{
    color:#009999;	
}

/*brand*/

.btn-primary {
    background-color: #fa9d1e;
    border-color: #ff9300;
    color: #fff;
}
.btn-primary:hover {
    background-color: #f47920;
    border-color: #f47920;
    color: #fff;
}

.panel > user-list > .table {
    margin-bottom: 0;
}