.container {
    margin-top: 20px;
}

li.form-inline {
    margin: 8px 8px 8px 8px;
    margin-right: 50px;
}

li.form-inline a {
    padding-left: 10px
}

.search {
	color: #eea236;
}

.collapsible {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin: 0.5rem 0 1rem 0;
}
.collapsible-header {
  display: block;
  cursor: pointer;
  min-height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
.collapsible-header i {
  width: 2rem;
  font-size: 1.6rem;
  line-height: 3rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem;
}
.collapsible-body {
  display: none;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}
.collapsible-body p {
  margin: 0;
  padding: 2rem;
}

.funds {
    font-style: italic;
    font-weight: 600;
    width: 50%;
    padding: 10px;
}

td.expand {
  width: 20px;
}

.form-control {
  padding: 0px 5px;
  height: 28px; 
}

select.form-control{
    width: 65%;
}
.breadcrumb > .active > a {
  color: #eea236;
}