.table {
	background-color: #DEDEE4;
}
thead {
	background-color: #01AAAD;
}
thead, th {
	border-bottom: 2px solid #DEDEE4;
}
thead {
	color: #ffffff;
}
#bottom {
	border-bottom-color: #099; 
}

#invest {
	background-color: #016365;
	margin-top: 10px;
}

.card {
	margin-top: 10px;
	padding: 0px;
}
.card-panel {
  transition: box-shadow .25s;
  padding: 20px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card-panel.bg-color {
	background-color: #F5F5F5;
}

.bubble {
	position: relative;
	display:inline-block;
	max-width:250px;
	min-height:1.5em;
	padding: 5px;
	background: #099;
	border: #099 solid 5px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 1px;
	color: #FFFFFF;
}
.bubble:after {
	content: "";
	position: absolute;
	bottom: -15px;
	right: 80%;
	border-style: solid;
	border-width: 15px 15px 0;
	border-color: #099 transparent;
	display: block;
	width: 0;
	z-index: 1;
}
.bubble:before {
	content: "";
	position: absolute;
	bottom: -19.5px;
	right: calc(80% - 3px) ;
	border-style: solid;
	border-width: 18px 18px 0;
	border-color: #099 transparent;
	display: block;
	width: 0;
	z-index: 0;
}

.navbar-brand> img{
	width: auto;
    height: 100%;
    padding: 5px;
}

.table-hover > tbody > tr:hover {
  background-color: #F0AD4E;
}
.col-th-td > td, th {
    padding: 0 10 0 0;
}
thead, th {
    border-bottom: 0px solid #DEDEE4;
}