@font-face {
    font-family: 'FNBSansRegular';
    src: url('fnb_sans-regular-webfont.eot');
    src: url('fnb_sans-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('fnb_sans-regular-webfont.woff') format('woff'),
url('fnb_sans-regular-webfont.ttf') format('truetype'),
url('fnb_sans-regular-webfont.svg#FNBSansRegularRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'FNBSansBold';
    src: url('fnb_sans-bold-webfont.eot');
    src: url('fnb_sans-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('fnb_sans-bold-webfont.woff') format('woff'),
url('fnb_sans-bold-webfont.ttf') format('truetype'),
url('fnb_sans-bold-webfont.svg#FNBSansRegularBold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'FNBSansLight';
    src: url('fnb_sans-light-webfont.eot');
    src: url('fnb_sans-light-webfont.eot?#iefix') format('embedded-opentype'),
url('fnb_sans-light-webfont.woff') format('woff'),
url('fnb_sans-light-webfont.ttf') format('truetype'),
url('fnb_sans-light-webfont.svg#FNBSansLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'FNBSansThin';
    src: url('fnb_sans-thin-webfont.eot');
    src: url('fnb_sans-thin-webfont.eot?#iefix') format('embedded-opentype'),
url('fnb_sans-thin-webfont.woff') format('woff'),
url('fnb_sans-thin-webfont.ttf') format('truetype'),
url('fnb_sans-thin-webfont.svg#FNBSansThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'FNBSansThinItalic';
    src: url('fnb_sans-thinitalic-webfont.eot');
    src: url('fnb_sans-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
url('fnb_sans-thinitalic-webfont.woff') format('woff'),
url('fnb_sans-thinitalic-webfont.ttf') format('truetype'),
url('fnb_sans-thinitalic-webfont.svg#FNBSansThinItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'FNBSansItalic';
    src: url('fnb_sans-italic-webfont.eot');
    src: url('fnb_sans-italic-webfont.eot?#iefix') format('embedded-opentype'),
url('fnb_sans-italic-webfont.woff') format('woff'),
url('fnb_sans-italic-webfont.ttf') format('truetype'),
url('fnb_sans-italic-webfont.svg#FNBSansRegularItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


