<div class="page-header">
    <ol class="breadcrumb">
        <li><a [routerLink]="['User Profile']">Portfolio View</a></li>
        <li><a [routerLink]="['Client Details']">{{_funds.client_name}}</a></li>
        <li class="active"><a [routerLink]="['Fund Details']">{{_funds.product}}</a></li>
    </ol>
    <h1>{{_funds.client_name}}</h1>
</div>
<div class="panel panel-default">
	<table class="table table-sm table-hover card-panel" style="margin-top: 0px;">
		<thead>
			<tr id="invest">
				<th>Fund under Management</th>
				<th></th><th></th>
			</tr>
			<tr>
				<th>Name</th>
				<th>Base Currency</th>
				<th>Fund Value</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="#fund of _funds.funds">
				<td (click)="onFund(fund)">{{fund.name}}</td>
				<td>{{fund.base_ccy}}</td>
				<td>{{fund.value}}</td>
			</tr>
		</tbody>
	</table>
</div>

		