<div class="page-header">
    <ol class="breadcrumb">
        <li><a [routerLink]="['User Profile']">Portfolio View</a></li>
        <li><a [routerLink]="['Clients']">Clients</a></li>
        <li><a [routerLink]="['Products']">Products</a></li>
        <li class="active"><a [routerLink]="['Funds']">Funds</a></li>
    </ol>
    <h1>Funds</h1>
</div>
<div class="panel panel-default">
	<table class="table table-sm table-hover card-panel" style="margin-top: 0px;">
		<thead>
			<tr id="invest">
				<th>Top Funds</th>
				<th></th>
			</tr>
			<tr>
				<th>Name</th>
				<th>Base Currency</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="#fund of _funds.funds">
				<td (click)="onFund(fund)">{{fund.name}}</td>
				<td>
					<tr class="col-th-td">
						<td>{{fund.base_ccy}}</td>
						<td>{{fund.value}}</td>
					</tr>
				</td>
			</tr>
		</tbody>
	</table>
</div>

		