@charset "utf-8";
/* CSS Document */

html, body {
	background-color:#FFFFFF;
	height:100%;
}
body {
	 background-color:#ffffff;
}
.footer {
	color:#AAA;
	text-align:left;
	width:100%;
}
.footer a {
	color:#666;
	background-color:transparent;
}
.footer {
	color:#999999;
	font-size:10px;
	position:absolute;
	bottom:0px;
	right:0px;
	padding:20px;
	text-align:right;
	border-top:none;
}
a {
	color:#999;
	font-size:11px;
}
.login {

	width:100%;
}
.welcome {
	font-size:15px;
	color:#000;
	margin-bottom:5px;
	margin-left:3px;
}
input.oldplaceholder {
	color: #aaa;
}
input.oldplaceholder-value {
	color: #000;
}
.big-logo {
	background-image:url(../img/logo@4x.png);
	background-repeat:no-repeat;
	width:320px;
	height:141px;
}
/* for high resolution display */
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	.big-logo {
		 background-image:url(../img/logo@8x.png);
		 background-size:320px 141px;
	}
}
.box-center{
	margin:  auto auto;
	max-width:700px;
	height:70%

}
.login-push{
	max-height:40%;
	min-height:1%;
	height:30%;
}