@charset "utf-8";
/* CSS Document */

h1, h2, h3, h4, h5, h6{
	color:#000000;	
}
h1{
	border-bottom:1px solid #ffcd00;
}
legend {
	color:#1a0956;
}
/* navbar */

.navbar-inverse .navbar-inner {
	background-color: #1a0956;
	background-image: none;
	background-repeat: repeat-x;
	filter:none;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	background-color: #ffffff;
	color: #000000;
	padding-top:15px;
	box-shadow:none;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #ffffff;
    text-shadow: none;
}


.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	border-bottom:none;
}
.navbar-inverse .navbar-inner {
	background-color: #ffcd00;
	background-image: none;
	background-repeat: repeat-x;
}

/* Nav Dropdowns */
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle {
    background-color: #990;
    color: #ffffff;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #000;
    color: #fff;
}
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #000000;
    border-top-color: #000000;
}

/* table */
.table th {
    background-color:#ffcd00;
	 color:#FFFFFF;
}
.table th a{
	color:#FFFFFF;
}




.brand-logo{
	width:110px;
	height:50px;
	background-image:url(../img/logo.png);
	background-repeat:no-repeat;
	
}
/* for high resolution display */
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	.brand-logo {
		 background-image:url(../img/logo@2x.png);
		 background-size:110px 50px;
	}
}
.btn-primary {
	background-color: none;
	 background-image: none;
    background-color: #ffcd00;
	 background-image: linear-gradient(to bottom,#ffcd00 , #e6b902);
}
.btn-primary:hover {
	background-color: #ffcd00;
}
.app-name a {
	color:#000;
}