<div class="page-header">
    <ol class="breadcrumb">
        <li class="active"><a [routerLink]="['User Profile']">Portfolio View</a></li>
        <li><a [routerLink]="['Clients']">Clients</a></li>
        <li><a [routerLink]="['Products']">Products</a></li>
        <li><a [routerLink]="['Funds']">Funds</a></li>
    </ol>
    <h1>Portfolio View</h1>
</div>
<div class="row">
   <div class="col col-md-12">
        <div class="panel panel-default">
            <table class="table table-hover card-panel" style="margin-top: 0px;">
                <thead>
                    <tr id="invest">
                        <th>Assets under management by client</th>
                        <th></th><th></th><th></th>
                    </tr>
                    <tr>
                        <th>Investor</th>
                        <th>Base Currency</th>
                        <th>Reporting Currency</th>
                        <th>Portfolio Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="#client of _clients.clients" >
                        <td (click)="onClient(client)">{{client.name}}</td>
                        <td>
                            <tr class="col-th-td">
                                <td>{{client.base_ccy}}</td>
                                <td>{{client.value}}</td>
                            </tr>
                        </td>
                        <td>
                            <select class="form-control" (change)="onCCConversion(client, report_ccy.value)" #report_ccy >
                                <option selected [value]="client.base_ccy">{{client.base_ccy}}
                                <option *ngIf="'ZAR' !== client.base_ccy" [value]="'ZAR'" >ZAR
                                <option *ngIf="'USD' !== client.base_ccy" [value]="'USD'" >USD
                                <option *ngIf="'GBP' !== client.base_ccy" [value]="'GBP'" >GBP
                                <option *ngIf="'EUR' !== client.base_ccy" [value]="'EUR'" >EUR
                                <option *ngIf="'CNY' !== client.base_ccy" [value]="'CNY'" >CNY
                                <option *ngIf="'JPY' !== client.base_ccy" [value]="'JPY'" >JPY
                            </select>
                        </td>
                        <td>
                            <tr class="col-th-td">
                                <td>{{client.rep_ccy}}</td>
                                <td>{{client.rep_value}}</td>
                            </tr>
                        </td>
                    </tr>
                </tbody>
            </table> 
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-md-12">
        <div class="panel panel-default">
            <table class="table table-condensed table-hover card-panel"  style="margin-top: 0px;">
                <thead>
                    <tr id="invest">
                        <th>Assets under management by product</th>
                        <th></th><th></th><th></th>
                    </tr>
                    <tr>
                        <th>Product Name</th>
                        <th>Base Currency</th>
                        <th>Reporting Currency</th>
                        <th>Product Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="#product of _products.products">
                        <td (click)="onProduct(product)">{{product.name}}</td>
                        <td>
                            <tr class="col-th-td">
                                <td>{{product.base_ccy}}</td>
                                <td>{{product.value}}</td>
                            </tr>
                        </td>
                        <td>
                            <select id="product_id" #report_ccy class="form-control" (change)="onCCConversion(product, report_ccy.value)" >
                                <option selected [value]="product.base_ccy">{{product.base_ccy}}
                                <option *ngIf="'ZAR' !== product.base_ccy" [value]="'ZAR'" >ZAR
                                <option *ngIf="'USD' !== product.base_ccy" [value]="'USD'" >USD
                                <option *ngIf="'GBP' !== product.base_ccy" [value]="'GBP'" >GBP
                                <option *ngIf="'EUR' !== product.base_ccy" [value]="'EUR'" >EUR
                                <option *ngIf="'CNY' !== product.base_ccy" [value]="'CNY'" >CNY
                                <option *ngIf="'JPY' !== product.base_ccy" [value]="'JPY'" >JPY
                            </select>
                        </td>
                        <td>
                            <tr class="col-th-td">
                                <td>{{product.rep_ccy}}</td>
                                <td>{{product.rep_value}}</td>
                            </tr>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-md-12">
        <div class="panel panel-default">
            <table class="table table-condensed table-hover card-panel"  style="margin-top: 0px;">
                <thead>
                    <tr id="invest">
                        <th>Assets under management by fund</th>
                        <th></th><th></th><th></th>
                    </tr>
                    <tr>
                        <th>Fund Name</th>
                        <th>Base Currency</th>
                        <th>Reporting Currency</th>
                        <th>Fund Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="#fund of _funds.funds">
                        <td (click)="onFund(fund)">{{fund.name}}</td>
                        <td>
                            <tr class="col-th-td">
                                <td>{{fund.base_ccy}}</td>
                                <td>{{fund.value}}</td>
                            </tr>
                        </td>
                        <td>
                            <select #report_ccy class="form-control" (change)="onCCConversion(fund, report_ccy.value)" >
                                <option selected [value]="fund.base_ccy">{{fund.base_ccy}}
                                <option *ngIf="'ZAR' !== fund.base_ccy" [value]="'ZAR'" >ZAR
                                <option *ngIf="'USD' !== fund.base_ccy" [value]="'USD'" >USD
                                <option *ngIf="'GBP' !== fund.base_ccy" [value]="'GBP'" >GBP
                                <option *ngIf="'EUR' !== fund.base_ccy" [value]="'EUR'" >EUR
                                <option *ngIf="'CNY' !== fund.base_ccy" [value]="'CNY'" >CNY
                                <option *ngIf="'JPY' !== fund.base_ccy" [value]="'JPY'" >JPY
                            </select>
                        </td>
                        <td>
                            <tr class="col-th-td">
                                <td>{{fund.rep_ccy}}</td>
                                <td>{{fund.rep_value}}</td>
                            </tr>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
