<div class="page-header">
	<ol class="breadcrumb">
		<li><a [routerLink]="['User Profile']">Portfolio View</a></li>
		<li><a [routerLink]="['Client Details']">{{_transactions.client.name}}</a></li>
		<li><a [routerLink]="['Product Details']">{{_transactions.product.name}}</a></li>
		<li class="active"><a [routerLink]="['Fund Details']">{{_transactions.fund}}</a></li>
	</ol>
    <h1>{{_transactions.client.name}}</h1>
</div>
<div class="panel panel-default">
	<table class="table table-striped card-panel" style="  margin-top: 0px;">
		<thead>
			<tr id="invest">
				<th>RECENT TRANSACTIONS</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
			<tr>
				<th>Transaction date</th>
				<th>Transaction type</th>
				<th>Fund</th>
				<th>Transaction value(ZAR)</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="#transaction of _transactions.transactions">
				<td>{{transaction.date}}</td>
				<td>{{transaction.trans_type}}</td>
				<td>{{transaction.fund_name}}</td>
				<td>{{transaction.value}}</td>
			</tr>
		</tbody>
	</table>
</div>
