@charset "utf-8";
/* CSS Document */

html, body {
	background-color:#FFFFFF;
	height:100%;
}
.footer {
	background-color:#333333;
	color:#AAA;
	text-align:left;
	width:100%;
}
.footer a {
	color:#FFFFFF;
	background-color:transparent;
}
.footer a:hover {
	color:#AAA;
}
.simple-footer {
	color:#999999;
	font-size:10px;
	position:absolute;
	bottom:0px;
	right:0px;
	padding:20px;
	text-align:right;
}
a {

	font-size:11px;
}
.login {
	width:100%;
}
.welcome {
	font-size:16px;
	color:#1a0956;
	margin-bottom:5px;
	margin-left:3px;
}
input.oldplaceholder {
	color: #aaa;
}
input.oldplaceholder-value {
	color: #000;
}
.big-logo {
	background-image:url(../img/logo@4x.png);
	background-repeat:no-repeat;
	width:320px;
	height:141px;
}
/* for high resolution display */
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	.big-logo {
		 background-image:url(../img/logo@8x.png);
		 background-size:320px 141px;
	}
}
.box-center{
	margin:  auto auto;
	max-width:700px;
	height:70%

}
.login-push{
	max-height:40%;
	min-height:1%;
	height:20%;
}
.text_block_info, .text_block_note, .text_block_error, .text_block_success {
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}
.text_block_error {
	border:1px solid #F66;
	background-color:#fff;
	background-repeat:no-repeat;
	background-position:0px 0px;
	color:#FF0000;
	-moz-box-shadow: 0px 0px 2px #aaa; /* Firefox */
	-webkit-box-shadow: 0px 0px 2px #aaa; /* Safari, Chrome */
	box-shadow:0px 0px 2px #aaa; /* CSS3 */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(243,243,243,1)), color-stop(51%, rgba(237,237,237,1)), color-stop(100%, rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
}
.text_block_error ul {
	margin:0px;
	padding:0px;
}
.text_block_error li {
	margin:0px;
	padding:0px;
	list-style:none;
}
#error_block {
	display:none;
}
#form{
	display:none;
}
