@charset "utf-8";
/* CSS Document */

h1, h2, h3, h4, h5, h6{
	color:#1a0956;	
}
h1{
	background-color:#EEE;
	border-bottom:1px solid #1a0956;
}
legend {
	color:#1a0956;
}
/* navbar */
.navbar-inverse .navbar-inner {
	background-color: #1a0956;
	background-image: none;
	background-repeat: repeat-x;
	filter:none;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	background-color: #0084ca;
	color: #FFFFFF;
	padding-top:15px;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #0084ca;
    color: #FFFFFF;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle {
    background-color: #1a0956;
    color: #FFFFFF;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	border-bottom:none;
	
}


/* table */
.table th {
    background-color:#1a0956;
	 color:#FFFFFF;
}
.table th a{
	color:#FFFFFF;
}



.navbar{
	background-color:#1a0956;
}
.navbar-inverse .navbar-inner {
	background-color: #1a0956;
	background-image: linear-gradient(to bottom, #1a0956, #1a0956);
	background-repeat: repeat-x;
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	background-color: #0084ca;
	color: #FFFFFF;
}




.brand-logo{
	width:110px;
	height:50px;
	background-image:url(../img/logo.png);
	background-repeat:no-repeat;
	
}
/* for high resolution display */
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	.brand-logo {
		 background-image:url(../img/logo@2x.png);
		 background-size:110px 50px;
	}
}